<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ua-parser" version="1.0.1" targetFramework="net40" />
  <package id="YamlDotNet.Core" version="1.1.15" targetFramework="net40" />
  <package id="YamlDotNet.RepresentationModel" version="1.1.15" targetFramework="net40" />
</packages>